body {
  /* background-color: rgb(255, 233, 195, 0.5); */
  /* background-image: url('https://wallpapers.com/wallpapers/art-deco-computer-iamzh9j3tw6s1vi0.html?embed=true'); */
  color:rgb(122, 78, 58);
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

h1, h2 {
  color:rgb(79, 77, 113);
  font-family: 'Quicksand', sans-serif;
}

a {
  color: rgb(191, 155, 124, 0.8);
}

a:hover{
  color: rgb(77, 100, 113, 0.8);
  transition: 0.3s;
}

button{
  color:antiquewhite;
  background-color: rgb(77, 100, 113, 0.8);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-top: 30px;
  width: 150px;
}

button:hover{
  background-color:rgb(79, 77, 113);
  transition: 0.3s;
  /* align-self: center; */
}

.container{
  max-width: 80%;
  /* min-width: 70%; */
  margin: auto;
  padding: 5%;
}

.deco{
  /* background-color: black; */
  background-image: url('images/6159380.jpg');
  background-position: center;
  background-size: 100%;
  /* height: 100%; */
}

.card{
  background-color: rgb(250, 239, 224);
  padding: 5%;
  border-radius: 30px;
  max-width: 40%;
  /* min-width: 30%; */
  margin: auto;
  margin-top: 30px;
}


.dark-shadow{
  box-shadow: 0px 0px 10px rgb(0, 0, 0, .5);
}
.light-shadow{
  box-shadow: 0px 0px 30px rgb(0, 0, 0, .2);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

#profile {
  max-width: 100%;
  /* min-width: 100px; */
  border-radius: 100px;
  /* align-self: center; */
}



@media (max-width: 960px) {
  .container {
    max-width: 80%;
    min-width: 60%;
  }

  .card {
    max-width: 60%;
    min-width: 55%;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 80%;
    min-width: 60%;
  }

  .card {
    max-width: 80%;
    min-width: 60%;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 90%;
    min-width: 90%;
    /* padding: 1px; */
  }

  .card {
    max-width: 80%;
    min-width: 70%;
  }
}
